{% extends "auctions/layout.html" %}
{% load humanize %}

{% block body %}
    <h1 class="p-2">Categories</h1>

    {% if category %}
    <h3 class="p-2">{{ category }}</h3>
        <div class="container-fluid mt-2 w-100">
            <div class="row row-cols-1 row-cols-md-4">
                {% for listing in listings %}
                    {% if listing.active and category == listing.category %}
                        <div class="col mb-4">
                            <div class="card h-100" id="listing-card">
                                <div id="listingCard">
                                    <img src="{{ listing.image }}" class="card-img-top" alt="Listing Image" id="listingImage">
                                </div>
                                <div class="card-body">
                                    <h6 class="card-title"><strong>{{ listing.title|truncatechars:25 }}</strong></h6>
                                    <p class="card-text"><strong>Current Price:</strong> ${{ listing.bid|floatformat:2|intcomma }}</p>
                                    <p class="card-text" style="font-size: small;" id="listingDescription" >{{ listing.description|truncatechars:100 }}</p>
                                    <a href="{% url 'listing' listing.id %}" class="stretched-link"></a>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Listed by {{ listing.username }} on {{ listing.dateTime }}</small>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% if listingCategory == False %}
                    <h6 class="mx-2">No active listings in this category.</h6>
                {% endif %}
            </div>
        </div>
    {% elif category == None %}
        <h4 class="mx-2">Category Not Found</h4>
    {% else %}
        <ul class="mt-3">
            {% for c in categories %}
                <li><a href="{% url 'categories' c.category %}" style>{{ c.category }}</a></li>
            {% empty %}
                <li><strong>No categories!</strong></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}